.playlists {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

h2 {
    text-align: left;
    width: 100%;
    font-size: 24px;
    margin: -50px 0 -30px 0;
}

.fav-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.fav-playlist :hover {
    transform: scale(1.03);
}

.fav-playlist img {
    border: 1px solid #fff;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    transition: 0.3s ease;
}

.fav-playlist img:hover {
    filter: brightness(60%);
    opacity: 0.9;
}

.fav-playlist a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.fav-playlist p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.mini-playlists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.mini-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mini-playlist img {
    border: 1px solid #fff;
    width: 180px;
    height: 155px;
    border-radius: 25px;
    transition: 0.3s ease;
    
}

.mini-playlist p {
    font-size: 14px;
    text-align: center;
}

.mini-playlist :hover {
    transform: scale(1.03);
}

.mini-playlist img:hover {
    filter: brightness(60%);
    opacity: 0.9;
}


.favorites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 100%;
    padding: 20px;
}

.favorite-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-left: 0;
}

.favorite-item {
    background: linear-gradient(135deg, rgba(171, 166, 166, 0.1), rgba(226, 226, 245, 0.2));
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
    backdrop-filter: blur(10px);
}

.favorite-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}

.item-info-cover {
    color: white;
    flex-grow: 1;
}

.track-info {
    font-size: 16px;
    padding: 2%;
}

.track-artist {
    font-size: 10px;
    opacity: 0.8;
}

.play-icon {
    width: 30px;
    height: 30px;
}