

h2 {
    text-align: left;
    width: 100%;
    font-size: 24px;
    margin: -50px;
}

.artists {
    display: flex;
    gap: 50px;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    background-color: var(--background-secondary);
    border-radius: 10px;
    width: 100%;
}

.artist-card {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-card img {
    border: 1px solid var(--transparent-accent);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

.artist-card img:hover {
    filter: brightness(60%);
    opacity: 0.9;
}

.artist-card p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.artist-card a {
    text-decoration: none;
    color: inherit;
}

.artists::-webkit-scrollbar {
    display: none;
}

.albums {
    display: flex;
    gap: 50px;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    background-color: var(--background-secondary);
    border-radius: 10px;
    width: 100%;
}

.album-card {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-card img {
    border: 1px solid var(--transparent-accent);
    width: 220px;
    height: 220px;
    border-radius: 15%;
    object-fit: cover;
    transition: 0.3s ease;
}


.album-card img:hover {
    filter: brightness(60%);
    opacity: 0.9;
}

.album-card p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.album-card a {
    text-decoration: none;
    color: inherit;
}

.albums::-webkit-scrollbar {
    display: none;
}

.history {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 100%;
    padding: 20px;
}

.history-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-left: 0;
}

.history-item {
    background: linear-gradient(135deg, rgba(171, 166, 166, 0.1), rgba(226, 226, 245, 0.2));
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
    backdrop-filter: blur(10px);
}

.history-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}
.item-info-cover {
    color: white;
    flex-grow: 1;
}
.track-info {
    font-size: 16px;
    padding: 2%;
}

.track-artist {
    font-size: 10px;
    opacity: 0.8;
}

.history-play-icon {
    width: 30px;
    height: 30px;
}

