@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* * {
    border: solid 1px red;
} */


* {
    font-family: "Unbounded", serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent); 
    border-radius: 10px; 
    border: 2px solid var(--background-main); 
}

::-webkit-scrollbar-track {
    background-color: var(--background-secondary); 
    border-radius: 10px;
}

::placeholder {
    color: var(--transparent-accent);
}

#create-playlist {
    cursor: pointer;
    display: flex;
    gap: 5vh;
}

:root {
    --accent: #BA82E2;
    --background-main: #18192D;
    --background-secondary: #282948;
    --transparent-accent: #976EB5;
    --transparent-background: #3E3F5F;
}

body {
    display: grid;
    grid-template-columns: 20vw 1fr;
    background-color: var(--background-main);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main-container {
    
        border-radius: 40px;
        border: 1px solid var(--transparent-accent);
        gap: 10vh;
        padding: 10vh 5vw;
        margin: 2vh 2vw 2vh 20vw;
        width: 75vw;
        background-color: var(--background-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
          overflow-x: visible;
    }
    
     .nav_links {
        display: flex;
        font-size: 12px;
        padding: 3vh 0 3vh 3vw;
    }
    
    .nav-bar {
        position: fixed;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }

.title {
    margin-bottom: 5vh;
    font-size: 18px;
    font-weight: 800;
}

.circle_plus {
    margin-top: 15px;
    width: 24px; 
    height: 24px;
    background-image: url("/images/icons/plus-white-circle.png");        
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
    
.track-artist {
    width: clamp(10px, 30px, 40px);
    height: auto;
    aspect-ratio: 1/1;
}

